<!DOCTYPE html>
<html>

<head>
    <title>Ships</title>

    <link rel="stylesheet" type="text/css" href="../assets/libs/bootstrap.css">
    <link href="../assets/libs/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/design.css">

    <script src="../assets/libs/jquery.min.js"></script>
    <script src="../assets/libs/jquery.dataTables.min.js"></script>
    <script src="../assets/libs/dataTables.bootstrap4.min.js"></script>


    



</head>

<body>
    <nav class="py-1 navbar  navbar-light bg-danger">

        <a class="navbar-brand text-white ml-4" href="/"><b>Ships</b></a>


        <div class="mr-5 justify-content-end">
            <!-- <ul class="navbar-nav mr-auto mr-0"> -->
            <label class=" text-white" for="table-select"></label>
            <select id="table-select" onchange="location = this.value;">
                <option value="">choose a table</option>
                <option value="/tide1">Anchorage SAILING 40+ &/or 800+ LOA </option>
            </select>
        </div>
        
    </nav>