<%- include('partials/header') -%>

    <div class="container mt-1 w-100">
        <%- include('partials/messages') -%>
            <div class="row sm-12">

                <div class="col sm-12 m-12">

                    <h2 class="mb-4">Add new vessel</h2>


                    <form action="api/addOneNewVessel/" method="POST">
                        <label class="mt-3" for="name">Name</label>
                        <input type="text" autocomplete="on" name="name" class="form-control mt-0">
                        <label for="remarks">Email Address</label>
                        <input type="text" name="remarks" class="form-control mt-0">
                        <label for="operator">Operator</label>
                        <input type="text" name="operator" class="form-control mt-0">
                        <label for="v_type">Type</label>
                        <input type="text" name="v_type" class="form-control mt-0">
                        <label for="imo">Vessel's Imo Number</label>
                        <input type="text" name="imo" class="form-control mt-0">
                        <label for="callSign">Call Sign</label>
                        <input type="text" name="callSign" class="form-control mt-0">

                        <button type="submit" class="btn btn-primary btn-block mt-3">Update Info</button>

                    </form>

                    </form>

                </div>


            </div>
    </div>

    <%- include('partials/footer') -%>